.stats-StatDescColumn {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 50px;
}

@media only screen and (min-width: 761px) {
    .stats-StatDescColumn {
        width: 60px;
    }
}

@media only screen and (min-width: 1200px) {
    .stats-StatDescColumn {
        width: 90px;
    }
}



.stats-StatDescColumn_header {
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 5px;
}

@media screen and (min-width: 761px) {
    .stats-StatDescColumn_header {
        height: 80px;
    }
}