.stats-Table {
    display: flex;
    flex-direction: column;
}

.stats-StatRow {
    display: flex;
}

.stats-CharCell {
    width: 25%;
}

.stats-StatHeader_charcell {
    width: 25%;
}

.stats-StatCell {
    text-align: center;
    padding: 8px;
}

.stats-StatHeader_cell {
    font-weight: bold;
    padding: 16px;
    width: 10%;
}

.stats-StatCell {
    width: 10%;
}