.header-Header {
    display: flex;
    background-color: black;
    height: 120px;
    border-bottom: 3px #b90202 solid;
    width: 100%;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .header-Header {
        flex-direction: row;
    }
    
}

.header-Header_logo {
    background-image: url("/img/dnd_logo.png");
    background-repeat: no-repeat;
    min-width: 100%;
    background-position-y: center;
    background-size: cover;
    flex: 1;
}

.header-Header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
}

.header-Header_title,
.header-Header_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Roboto,Helvetica,sans-serif;
    color: #fff;
}

.header-Header_title {
    font-size: 30px;
    padding-right: 20px;
}

.header-Header_subtitle {
    font-size: 30px;
}
* {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
    overflow-x: hidden;
}

.application_container {
    max-width: 100vw;
    overflow: hidden;
}

.stats-Table {
    margin-top: 20px;
    display: flex;
}

.table-ScrollContainer {
    display: flex;
    width: calc(100vw - 95px);
    overflow: scroll;
}

.stats-StatRow {
    display: flex;
}

.stats-StatDescColumn,
.stats-CharColumn {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    min-width: 60px;
    font-size: 11px;
}

@media only screen and (min-width: 761px) {

    .stats-StatDescColumn,
    .stats-CharColumn {
        min-width: 90px;
    }

}

.stats-CharColumn {
    margin: 10px;
    flex: 1;
    width: 12.5%;
}

.stats-CharCell,
.stats-StatDescColumn_header,
.stats-StatCell,
.stats-StatDescCell {
    display: flex;
    justify-content: center;

}

.stats-StatCell,
.stats-StatDescCell {
    height: 60px;
    margin: 2px 0;

}

@media only screen and (min-width: 761px) {

    .stats-StatCell,
    .stats-StatDescCell {
        height: 80px;
        margin: 5px 0;
    }
}

.stats-StatDescColumn_header,
.stats-StatDescCell,
.stats-StatCell{
    padding: 5px;
}

.stats-CharCell {
    border: 2px #b90202 solid;
    border-radius: 3px;
    align-items: center;
    background-color: #fff;
    min-width: 60px;
    height: 60px;
}

@media only screen and (min-width: 761px) {
    .stats-CharCell {
        min-width: 80px;
        height: 80px;
    }
}

.stats-CharCell_img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 1px;
    flex: 0 1 100%;
}
@media only screen and (min-width: 1200px) {
    .stats-CharCell_img {
        width: 107px;
    }
}

@media only screen and (min-width: 761px) {
    .stats-CharCell_img {
        background-size: 75px;
    }
}

.stats-CharCell_name {
    display: none;
}

@media only screen and (min-width: 1200px) {

    .stats-CharCell_name,
    .stats-CharCell_secondname {
        display: block;
        flex-wrap: wrap;
        width: 50%;
        flex: 1;
        font-size: 20px;
        padding-right: 10px;
    }

    .stats-CharCell_img {
        background-position-x: left;
    }
}

.stats-StatDescCell {
    align-items: center;
    text-align: center;
}

.stats-StatHeader_charcell {
    width: 25%;
}

.stats-StatCell {
    text-align: center;
    border-radius: 2px;
    font-size: 11px;
    background-color: #fff;
}

@media only screen and (min-width: 1200px) {
    .stats-StatCell {
        border-radius: 5px;
        padding: 15px;
        font-size: 17px;
    }
}

.stats-StatCell-updated {
    animation: stats-highlight 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes stats-highlight {
    0% {
        background-color: #fff;
    }

    25% {
        background-color: #b7dfb7;
    }

    100% {
        background-color: #fff;
    }
}


.stats-StatHeader_cell {
    font-weight: bold;
    padding: 16px;
    width: 10%;
}