* {
    box-sizing: border-box;
    font-family: Roboto, Helvetica, sans-serif;
}

body {
    background-color: aliceblue;
    overflow-x: hidden;
    margin: 0;
}

.application_container {
    max-width: 100vw;
    overflow: hidden;
    margin: 8px;
}
