.header-Header {
    display: flex;
    width: 100%;
    flex-direction: column;
    
}

@media screen and (min-width: 1200px) {
    .header-Header {
        flex-direction: row;
    }
}

.header-Header_TopRow {
    display: flex;
    height: 90px;
    width: 100%;
    flex-direction: column;
}

.header-Header_logo {
    background-image: url("/img/dnd_logo.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    flex: 1;
    max-width: 800px;
    width: 100%;
    background-color: black;
}

.header-Header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    border-bottom: 3px #b90202 solid;
    background-image: linear-gradient(black, #585858);
}

.header-Header_title,
.header-Header_subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Roboto,Helvetica,sans-serif;
    color: #fff;
}

.header-Header_title {
    font-size: 30px;
    padding-right: 20px;
}

.header-Header_subtitle {
    font-size: 30px;
}
